## Approach 1 


In this Approach, have grouped all the level numbers ancd checked for the fails in each level.
Most number of fails in a given level would correspond to most people failing in that particular level

In [178]:
import pandas as pd
import seaborn as sns

### Analyzing Data

In [2]:
df= pd.read_csv('level_progress.csv')

In [3]:
df.head()

,event_datetime,player_id,level_number,status,session_id
0,2020-11-28 21:00:24.958000,00020eac3d7e4f058b87eac1a9a85c25,6,complete,6ddf006b807e451eb4706d6d98a049b6
1,2020-11-27 22:03:03.048000,00020eac3d7e4f058b87eac1a9a85c25,2,start,3ba98db705f2aa0bc406441a61c23b3c
2,2020-11-26 14:53:09.344000,002188c0bc476f356f4c3b74e5cc66c8,1,start,25cf292a8f1d3da01df8371276502edf
3,2020-12-03 11:43:26.582000,00576ef3617e6bbbabfa0b1090e4122d,1,start,21fd6a7db53a9220574563ac8a8c8b58
4,2020-12-04 14:23:07.448000,00576ef3617e6bbbabfa0b1090e4122d,7,start,358b9ab5c1c0f08bc7def310411eb90f

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55826 entries, 0 to 55825
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   event_datetime  55826 non-null  object
 1   player_id       55826 non-null  object
 2   level_number    55826 non-null  int64
 3   status          55826 non-null  object
 4   session_id      55826 non-null  object
dtypes: int64(1), object(4)
memory usage: 2.1+ MB

In [8]:
df.describescribe()

       level_number
count  55826.000000
mean       5.991778
std        5.988455
min        0.000000
25%        2.000000
50%        4.000000
75%        8.000000
max       49.000000

In [9]:
df

,event_datetime,player_id,level_number,status,session_id
0,2020-11-28 21:00:24.958000,00020eac3d7e4f058b87eac1a9a85c25,6,complete,6ddf006b807e451eb4706d6d98a049b6
1,2020-11-27 22:03:03.048000,00020eac3d7e4f058b87eac1a9a85c25,2,start,3ba98db705f2aa0bc406441a61c23b3c
2,2020-11-26 14:53:09.344000,002188c0bc476f356f4c3b74e5cc66c8,1,start,25cf292a8f1d3da01df8371276502edf
3,2020-12-03 11:43:26.582000,00576ef3617e6bbbabfa0b1090e4122d,1,start,21fd6a7db53a9220574563ac8a8c8b58
4,2020-12-04 14:23:07.448000,00576ef3617e6bbbabfa0b1090e4122d,7,start,358b9ab5c1c0f08bc7def310411eb90f
...,...,...,...,...,...
55821,2020-11-28 16:12:47.423000,005b8ec4ac873abe715658549b1df622,5,start,56d3d95c6c7ae2f62c5f2851b4ff6971
55822,2020-11-30 09:25:15.934000,007b14df3661f12d4da9ef6f92fc7f16,6,start,fc9c81723fa03c619144a9f818998395
55823,2020-11-26 14:23:30.994000,007b14df3661f12d4da9ef6f92fc7f16,0,complete,17fbe3250288639e3284e4b1e00762a3
55824,2020-11-24 18:51:08.746000,005a65aac934d42388795f30b24e03a0,0,complete,c3eaa21b32089aefff9b13d3feae6f8d
55825,2020-11-17 18:27:09.992000,007817af60c6e190ca909e2427ff3fc1,4,start,4f62ee33c8c434fc9824e3f8cea27d92

In [ ]:
#checking for the unique values fro each comllumn

In [12]:
df['session_id'].nunique()

12759

In [13]:
df['level_number'].nunique()

50

In [14]:
df['player_id'].nunique()

3872

In [ ]:
#describng the categorical data

In [27]:
a=df.dtypes[df.dtypes=='object'].index
df[a].describe()

,event_datetime,player_id,status,session_id
count,55826,55826,55826,55826
unique,55826,3872,3,12759
top,2020-11-29 20:56:09.596000,006c4c66f9976d96fb0bf9852b214b30,start,7c354840caa7e3790cfcd7a4d8e97281
freq,1,208,31109,82

In [28]:
df.describe()

       level_number
count  55826.000000
mean       5.991778
std        5.988455
min        0.000000
25%        2.000000
50%        4.000000
75%        8.000000
max       49.000000

In [234]:
# looking for the unique values

In [235]:
pd.Categorical(df['level_number'])

[6, 2, 1, 1, 7, ..., 5, 6, 0, 0, 4]
Length: 55826
Categories (50, int64): [0, 1, 2, 3, ..., 46, 47, 48, 49]

In [236]:
pd.Categorical(df['session_id'])

[6ddf006b807e451eb4706d6d98a049b6, 3ba98db705f2aa0bc406441a61c23b3c, 25cf292a8f1d3da01df8371276502edf, 21fd6a7db53a9220574563ac8a8c8b58, 358b9ab5c1c0f08bc7def310411eb90f, ..., 56d3d95c6c7ae2f62c5f2851b4ff6971, fc9c81723fa03c619144a9f818998395, 17fbe3250288639e3284e4b1e00762a3, c3eaa21b32089aefff9b13d3feae6f8d, 4f62ee33c8c434fc9824e3f8cea27d92]
Length: 55826
Categories (12759, object): [000e7a2c724b6e9dba649f341bcc3736, 001fcee7e554cd696849cc0440509993, 0026864b54334318992099e9c6922cd8, 0039101a22aeca335e4150e5c8519353, ..., ffeccf2f9ebf11976eb9e459b667d779, ffee91cfcaf001b1704e86435e42242c, ffeede9b61bf3e8ba2723fc10c3d8148, fff568045a2a08080aaea4df7afc18b0]

In [55]:
pd.Categorical(df['status'])

[complete, start, start, start, start, ..., start, start, complete, complete, start]
Length: 55826
Categories (3, object): [complete, fail, start]

In [ ]:
#checking for null values

In [35]:
df.isnull().sum()

event_datetime    0
player_id         0
level_number      0
status            0
session_id        0
dtype: int64

In [38]:
df['event_datetime'].describe()

count                          55826
unique                         55826
top       2020-11-29 20:56:09.596000
freq                               1
Name: event_datetime, dtype: object

In [ ]:
# Groupby 'level_number' and 'status' and describing it

In [230]:
a=df.groupby(['level_number','status']).describe()

In [231]:
a

                      event_datetime                                          \
                               count unique                         top freq
level_number status
0            complete           3736   3736  2020-11-22 07:21:53.769000    1
             fail                 37     37  2020-11-15 11:04:52.317000    1
             start               428    428  2020-11-25 16:11:28.777000    1
1            complete           3164   3164  2020-11-20 18:31:43.310000    1
             fail                 20     20  2020-11-24 11:01:39.275000    1
...                              ...    ...                         ...  ...
47           complete              1      1  2020-12-01 13:10:35.547000    1
             start                 1      1  2020-12-01 13:07:32.611000    1
48           complete              1      1  2020-12-01 13:15:59.411000    1
             start                 1      1  2020-12-01 13:10:55.207000    1
49           start                 1      1  2020-12-01 13:15:18.876000    1

                      player_id                                                \
                          count unique                               top freq
level_number status
0            complete      3736   3693  0042d476fdef53d4d48ae9c47d8b65d6    6
             fail            37     35  008e435e686c0e4d5027ee3a4018fe9b    2
             start          428    320  007f67e377f8508a6bac2da0c79c9d36   11
1            complete      3164   3115  005564dfc6bce889a611715e900de9dd    4
             fail            20     15  005cae303a2f52dcecc6286ba3271896    3
...                         ...    ...                               ...  ...
47           complete         1      1  00a5a91803a661bae4e8ee1c4e6cd741    1
             start            1      1  00a5a91803a661bae4e8ee1c4e6cd741    1
48           complete         1      1  00a5a91803a661bae4e8ee1c4e6cd741    1
             start            1      1  00a5a91803a661bae4e8ee1c4e6cd741    1
49           start            1      1  00a5a91803a661bae4e8ee1c4e6cd741    1

                      session_id
                           count unique                               top freq
level_number status
0            complete       3736   3695  f9ac0ce81ffac2619c641781b1ccbba3    6
             fail             37     36  df1033fafe69a0bf332c563f70d90a6d    2
             start           428    387  d38a129b4b12a959dc35d45630f82127    6
1            complete       3164   3116  56bbb020d8e8fa1fa1d4bb6afa65bf12    4
             fail             20     15  a4db8956848ce70062f0cb61c3e13233    3
...                          ...    ...                               ...  ...
47           complete          1      1  651ba16e123c6baf5fe3ab656f3ee8b0    1
             start             1      1  651ba16e123c6baf5fe3ab656f3ee8b0    1
48           complete          1      1  651ba16e123c6baf5fe3ab656f3ee8b0    1
             start             1      1  651ba16e123c6baf5fe3ab656f3ee8b0    1
49           start             1      1  651ba16e123c6baf5fe3ab656f3ee8b0    1

[139 rows x 12 columns]

In [ ]:
#slicing level and corresponding fail values for each value

In [232]:
b=a['player_id']['count'][:, 'fail']

In [281]:
b.max()#level 3 has maximum nunber of fails

865

In [282]:
b

level_number
0      37
1      20
2      91
3     865
4     475
5     537
6     400
7     255
8     255
9     157
10    127
11    147
12    109
13    111
14    105
15     53
16     55
17     56
18     36
19     39
20     21
21     18
22     37
23     39
24     11
25     10
26     15
27      9
28      9
29     10
30      7
31      6
32      9
33      5
35      3
37      1
38      2
39      1
42      2
44      1
Name: count, dtype: object